*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body{
	background-image: url(../img/5a3a4658aecd3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: scroll;
	display: flex;
	justify-content: center;
}

.content_copy{
	width: 1080px;
	height: 1000px;
	background-color: azure;
	border-radius: 10px;
	border: dashed 5px lightpink;
	box-shadow: 0 0 20px gray;
}
